@tailwind base;
@tailwind components;
@tailwind utilities;

.wide {
  width: calc(100% - 300px);
}
.overflow{
  overflow: unset;
}

.comma:nth-of-type(n + 2):not(:last-child) {
  &::before {
    content: ", ";
  }
}

@media screen and (max-width: 490px) {
  .BYpXSnOHfrC2td4QRijO {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .VdaXgamc4uLcVqxdjRnv {
    margin: 0 !important;
    width: 90% !important;
  }
  .jF_DhwXwBFswm5nphXHX {
    margin: 0 !important;
    padding-block: 20px;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.HideScrollbar::-webkit-scrollbar {
  display: none;
}

.radial_bg {
  background-color: #292998;
  background-image: radial-gradient(circle at center center, #ff0a0a, #090c74),
    repeating-radial-gradient(
      circle at center center,
      #ff0a0a,
      #ff0a0a,
      25px,
      transparent 50px,
      transparent 25px
    );
}

.spinner {
  margin: auto;
  width: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.spinner > div {
  background: #195fd2;
  height: 100%;
  width: 2px;
  float: left;
  margin: 0 1px;
  animation: stretch 2s infinite;
  animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
}

.spinner .r1 {
  animation-delay: -1s;
}

.spinner .r2 {
  animation-delay: -0.9s;
}

.spinner .r3 {
  animation-delay: -0.8s;
}

.spinner .r4 {
  animation-delay: -0.7s;
}

.spinner .r5 {
  animation-delay: -0.6s;
}

@keyframes stretch {
  0%,
  20%,
  49% {
    transform: scaleY(0.4);
    background-color: #195fd2;
  }

  10% {
    transform: scaleY(1);
  }

  50%,
  70%,
  100% {
    transform: scaleY(0.4);
    background-color: red;
  }

  60% {
    transform: scaleY(1);
    background-color: red;
  }
}
